global

defaults
        timeout client          600s
        timeout server          600s
        timeout connect         30s
        log                     global
        mode                    tcp
        maxconn                 50000
        timeout http-request    60
        timeout queue           60
        timeout http-keep-alive 10
        timeout check           10
        retries                 3

frontend afif-service
        bind                    :81
        mode                    tcp
        default_backend         afif-service-backend

backend afif-service-backend
	balance                 roundrobin
#	balance			static-rr
#	balance			leastconn
#	balance			first
	mode			http
        server                  afif-web-service1    simple-crud_app:80 

# using weight
#       server                  afif-web-service1    simple-crud_app:80 weight 2
#	server			afif-web-service2    simple-crud_app:80 weight 1
